apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"nginxdeployment"},"name":"nginxdeployment","namespace":"default"},"spec":{"replicas":6,"selector":{"matchLabels":{"app":"nginxdeployment"}},"strategy":{},"template":{"metadata":{"labels":{"app":"nginxdeployment"}},"spec":{"containers":[{"image":"nginx","name":"nginx","resources":{}}]}}},"status":{}}
    kubernetes.io/change-cause: initial deployment
  creationTimestamp: "2026-02-04T02:32:11Z"
  generation: 7
  labels:
    app: nginxdeployment
  name: nginxdeployment
  namespace: default
  resourceVersion: "6429"
  uid: dfa581dc-6e0c-44ca-a1cd-0b9c18546b94
spec:
  progressDeadlineSeconds: 600
  replicas: 6
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: nginxdeployment
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nginxdeployment
    spec:
      containers:
      - image: nginx
        imagePullPolicy: Always
        name: nginx
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 6
  conditions:
  - lastTransitionTime: "2026-02-04T02:32:11Z"
    lastUpdateTime: "2026-02-04T02:32:13Z"
    message: ReplicaSet "nginxdeployment-6fd49c696" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2026-02-04T02:46:27Z"
    lastUpdateTime: "2026-02-04T02:46:27Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 7
  readyReplicas: 6
  replicas: 6
  terminatingReplicas: 0
  updatedReplicas: 6
