apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginxheadlessdep
  name: nginxheadlesscip
spec:
  clusterIP: None
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginxheadlessdep
  type: ClusterIP
status:
  loadBalancer: {}
