apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvcmanual
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
  volumeName: pvmanual
