apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginxdep
  name: nginxnp
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginxdep
  type: NodePort
status:
  loadBalancer: {}
