apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginxbluedep
  name: nginxbluecip
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginxbluedep
  type: ClusterIP
status:
  loadBalancer: {}
