apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginxreddep
  name: nginxredcip
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginxreddep
  type: ClusterIP
status:
  loadBalancer: {}
